{% extends 'registration/login_base.html' %}
{% load widget_tweaks %}

{% block title %}reset password{% endblock title %}
{% block content_title %}تغییر گذرواژه{% endblock content_title %}

{% block content %}
	<form class="login100-form validate-form" method="post">{% csrf_token %}
		
		{% if validlink %}
			<div class="wrap-input100 validate-input" data-validate="گذرواژه را وارد کنید">
				{{form.new_password1|attr:"class:input100"|attr:"placeholder:گذرواژه"}}
				{% if form.new_password1.errors %}}
					<div class="errors">
						{% for error in form.new_password1.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% endif %}
				<!-- <span class="focus-input100" data-placeholder="&#xf191;"></span> -->
			</div>

			<div class="wrap-input100 validate-input" data-validate="گذرواژه را تایید کنید">
				{{form.new_password2|attr:"class:input100"|attr:"placeholder:تایید گذرواژه"}}
				{% if form.new_password2.errors %}}
					<div class="errors">
						{% for error in form.new_password2.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% endif %}
				<!-- <span class="focus-input100" data-placeholder="&#xf191;"></span> -->
			</div>
			
			<div class="container-login100-form-btn">
				<a href="#">
					<button class="login100-form-btn">تایید</button>
				</a>
			</div>
		{% else %}
			<br>
			<p style="color: black;">لینک منقضی شده است برای بازیابی رمز عبور دوباره <a href="{% url 'password_reset' %}" style="color: red;"> کلیک </a>کنید.</p>
		{% endif %}

	</form>
{% endblock content %}