{% extends 'registration/login_base.html' %}
{% load widget_tweaks %}


{% block title %}reset password{% endblock title %}
{% block content_title %}تغییر گذرواژه{% endblock content_title %}

{% block content %}
	
	<form class="login100-form validate-form" method="post">{% csrf_token %}
		
		<div class="wrap-input100 validate-input" data-validate="ایمیل را وارد کنید">
			{{form.email|attr:"class:input100"|attr:"placeholder:ایمیل"}}
			{% if form.email.errors %}}
				<div class="errors">
					{% for error in form.email.errors %}
						<span>{{error}}</span>
					{% endfor %}
				</div>
			{% endif %}
			<!-- <span class="focus-input100" data-placeholder="&#xf191;"></span> -->
		</div>
		
		<div class="container-login100-form-btn">
			<a href="#">
				<button class="login100-form-btn">ارسال لینک بازیابی</button>
			</a>
		</div>

	</form>
	
{% endblock content %}