{% extends 'pages/list.html' %}

{% block title %}list Article{% endblock title %}
{% block content_title %}
کالاها-{{page_obj.number}}
{% endblock content_title %}


{% block product %}

    <div class="col-sm-4 mb-4">
        <div class="portfolio-item">
            <img class="img-fluid" src="{{ obj.thumbnail.url }}" alt="{{ obj.title }}" />
            <div class="portfolio-caption">
                <a href="{% url 'pages:detailArticle' obj.slug %}">
                    <div class="portfolio-caption-heading">{{obj.title}}</a> 
                        {% if obj.is_special %}
                            <span class="badge" style="background-color: rgb(231, 49, 49); font-size: 13px;">ویژه </span>
                        {% endif %}  
                    </div>
                <a href="#">#{{obj.author}}</a>
                <div class="portfolio-caption-subheading text-muted">{{obj.description|striptags|truncatewords:"20"}}</div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_previous %}
    <a class="btn btn-primary float-rigth ml-3" href="{% url 'pages:user' author.username page_obj.previous_page_number %}"> نمایش پست های قدیمی تر &larr;</a>      
{% endblock %}
{% block page_next %}
    <a class="btn btn-primary float-rigth ml-3" href="{% url 'pages:user' author.username page_obj.next_page_number %}"> نمایش پست های جدید تر &rarr;</a>  
{% endblock %}